[submodule "backend"]
	path = backend
	url = https://github.com/MuhammadIbneRafiq/rehome-backend.git
[submodule "rehome-backend"]
	path = rehome-backend
	url = https://github.com/MuhammadIbneRafiq/rehome-backend
