[submodule "backend"]
	path = backend
	url = https://github.com/MuhammadIbneRafiq/rehome-backend.git
[submodule "admin_example_rehome"]
	path = admin_example_rehome
	url = https://github.com/MuhammadIbneRafiq/admin_example_rehome.git
