@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
html {
    height: 100%;
    background-color: rgba(239, 172, 133, 0.977) !important;
    color: rgb(223, 219, 214); /* Ensure text is readable */
}


body {
    width: 100%;
    height: 100%;
}

#root {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: auto;
    border-radius: 100px;
}

.rehome-button {
@apply bg-gradient-to-r from-orange-500 to-red-600 text-white py-2 px-4 rounded shadow-md hover:opacity-90 transition duration-300;
}
.rehome-icon-button {
    @apply text-white hover:text-orange-200; /* Base styles - White text */
    /* Add more styles for hover effects */
}
.rehome-nav-button {
    @apply text-sm py-2 px-6 rounded-full bg-white  text-orange-500 border border-orange-500 hover:bg-orange-100 hover:text-orange-700 transition duration-200; /* Oval white buttons */
}

.rehome-nav-icon-button {
    @apply text-white hover:text-orange-200; /* Base styles - White text */
}
.rehome-nav-button {
@apply text-sm py-2 px-6 rounded-full bg-white  text-orange-500 border border-orange-500 hover:bg-orange-100 hover:text-orange-700 transition duration-200; /* Oval white buttons */
}


.my_text h1 {
    font-weight: 700;
    position: absolute;
    letter-spacing: 0.6px;
    top: 72px;
    font-size: 43px;
    line-height: 50px;
    left: 50%;
}

@media screen and (max-width: 439px) {
    .my_text h1 {
        font-size: 40px;
        line-height: 40px;
    }
}


button:hover {
    cursor: pointer;
}

.transform {
    transform: scale(1);
}

.transition-transform {
    transition: transform 0.3s ease-in-out;
}

.duration-300 {
    transition-duration: 1ms;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.hover\:scale-105:hover {
    transform: scale(1.05);
}

.markdown-content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.markdown-content h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-content ul, .markdown-content ol {
  margin-left: 1.5em;
}

.markdown-content li {
  margin-bottom: 0.5em;
}

.markdown-content strong {
  font-weight: bold;
}

/* Example:  General button styling */
.btn {
    @apply bg-gradient-to-r from-orange-500 to-red-600 text-white py-2 px-4 rounded;
    /* You can add more styles as needed */
  }

.markdown-content em {
  font-style: italic;
}