@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
html {
    height: 100%;
    background-color: rgba(239, 172, 133, 0.977) !important;
    color: rgb(223, 219, 214); /* Ensure text is readable */
}


body {
    width: 100%;
    height: 100%;
}

#root {
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0px;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: auto;
    border-radius: 100px;
}


.my_text h1 {
    font-weight: 700;
    position: absolute;
    letter-spacing: 0.6px;
    top: 72px;
    font-size: 43px;
    line-height: 50px;
    left: 50%;
}

@media screen and (max-width: 439px) {
    .my_text h1 {
        font-size: 40px;
        line-height: 40px;
    }
}


button:hover {
    cursor: pointer;
}

.transform {
    transform: scale(1);
}

.transition-transform {
    transition: transform 0.3s ease-in-out;
}

.duration-300 {
    transition-duration: 1ms;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.hover\:scale-105:hover {
    transform: scale(1.05);
}

.markdown-content h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.markdown-content h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-content ul, .markdown-content ol {
  margin-left: 1.5em;
}

.markdown-content li {
  margin-bottom: 0.5em;
}

.markdown-content strong {
  font-weight: bold;
}

.markdown-content em {
  font-style: italic;
}